<div class="container mb-5">

    <h1 class="mt-3">Radiohead</h1>

    <hr>

    <div class="row justify-content-center">
        <img src="assets/img/Radiohead.jpg" alt="Radiohead" width="90%">
    </div>

    <hr>

    <div class="mb-5 text-justify">
        <p>Radiohead se formó a mediados de la década de 1980 en la escuela Abingdon (un colegio privado para varones) en Abingdon-on-Thames, Oxfordshire en Inglaterra, a la cual acudían el baterista Phil Selway, el guitarrista Ed O'Brien, el vocalista Thom
            Yorke, el bajista Colin Greenwood y su hermano Jonny. Yorke y Colin Greenwood estaban en el mismo curso, O'Brien y Selway eran un año mayores que ellos y Jonny Greenwood, dos años menor que su hermano.​ Todos provenían de familias de clase
            media y empezaron a tocar en el salón de música de la escuela, tomando el nombre del único día de la semana en el que podían ensayar: On a Friday («el viernes»).​ La banda realizó su primera presentación en directo en la Taberna Jericho de
            Oxford a finales de 1986;​ al principio Jonny Greenwood tocaba la armónica y el teclado, pero pronto se convirtió en el guitarrista principal.</p>

        <p>
            Aunque Yorke, O'Brien, Selway y Colin Greenwood dejaron Abingdon hacia 1987 para asistir a la universidad, la banda siguió practicando los fines de semana y en vacaciones.​ En 1991, cuando todos los miembros de la banda excepto Jonny Greenwood, habían
            completado sus estudios universitarios, On a Friday se reagrupó y la banda comenzó a grabar demos, entre ellos Manic Hedgehog y reanudaron sus presentaciones en los alrededores de Oxford. La popularidad de la banda en la región de Oxfordshire
            creció hasta el punto de aparecer en la portada de Curfew, una revista local de música. La música independiente había tenido mucha repercusión en Oxfordshire y en el valle del Támesis a finales de la década de 1980, pero solo estaba enfocada
            en bandas del shoegazing como Ride y Slowdive; On a Friday no pertenecía al género.30​
        </p>

        <p>
            A medida que On a Friday comenzó a dar más conciertos, varias discográficas empezaron a mostrar interés por la banda. Chris Hufford, productor de Slowdive y Bryce Edge, productor y copropietario de los Estudios Courtyard de Oxford, asistieron a uno de
            los primeros conciertos del grupo en la Taberna de Jericho. Impresionados por la banda, produjeron una demo y se convirtieron en sus mánagers;​ de hecho, lo siguen siendo en la actualidad. Tras un encuentro casual entre Colin Greenwood y el
            representante de EMI, Keith Wozencroft en la tienda de discos donde trabajaba este, el grupo firmó un contrato con la discográfica durante un lapso de seis álbumes. A petición de la compañía, la banda cambió su nombre inspirándose en una canción
            de Talking Heads del álbum True Stories (1986) llamada «Radio Head».
        </p>
    </div>

</div>