<div class="container-fluid">
    <h1 class="text-center mt-3">{{ disco.album }}</h1>
    <hr>
    <div class="row flex-md-column mt-3">
        <div class="col-12">
            <div class="row flex-column align-content-center text-center">
                <img [src]="disco.img" alt="" class="img-fluid mb-3 col-12 col-md-4 col-lg-3">
                <p><span class="font-weight-bold">Año:</span> {{disco.anio}}</p>
                <p><span class="font-weight-bold">Formato:</span> {{disco.formato}}</p>
            </div>
            <hr class="d-none d-md-block">
        </div>
        <div class="col-12">
            <p class="text-justify">{{disco.descripcion}}</p>
        </div>

    </div>

    <div class="row flex-column align-items-end mb-5">
        <a [href]="disco.linkWiki" class="mb-2">Más información</a>
        <button class="btn btn-outline-danger col-12 col-md-4 col-lg-2" [routerLink]="['/discos']">Regresar</button>
    </div>


</div>